{%  extends "base.html" %}
{% load static %}
{% load pwa %}
{% block title %}ورود{% endblock %}
{% block css %}{% endblock %}

{% block body %}
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" onclick="window.history.back()" style="color: white;">
                <img src="{% static 'img/iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
                <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
            </a>
        </nav>
    </header>
    <div class="container-fluid" id="content">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <form method="POST" data-parsley-validate="" novalidate="">
            {% csrf_token %}
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="password" id="inputIconEx2" class="form-control" name="password" required="required">
                        <label for="inputIconEx2">گذر واژه قبلی</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="newpassword" class="form-control" name="newpassword" required="required" data-parsley-minlength="8" data-parsley-uppercase="1" data-parsley-lowercase="1" data-parsley-number="1" data-parsley-required>
                        <label for="newpassword">گذر واژه جدید</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input required="required" id="inputIconEx2" class="form-control" type="password" data-parsley-equalto="#newpassword">
                        <label for="inputIconEx2">تکرار گذر واژه جدید</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn aqua-gradient">به روز رسانی</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
    <footer class="page-footer font-small default-color pt-4" id="footer">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin; text-align: right;">توسعه دهندگان</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/Mheftekhari" style="text-align: right;">تلگرام ( محمد حسین افتخاری زاده )</a>
                            </li>
                            <li>
                                <a href="https://t.me/Iman_Naseri" style="text-align: right;">تلگرام ( ایمان ناصری )</a>
                            </li>
                            <li>
                                <a style="text-align: right;">mh.eftekhari@gmail.com</a>
                            </li>
                            <li>
                                <a style="text-align: right;">inaseri.20@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin; text-align: right;">ارتباط با ما</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/abbas2044" style="text-align: right;">تلگرام ادمین</a>
                            </li>
                            <li>
                                <a href="https://t.me/sandogh_hazrat_zainab_bot" style="text-align: right;">رباط صندوق</a>
                            </li>
                            <li>
                                <a href="{% url 'lows' %}" style="text-align: right;">قوانین صندوق</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Mohammad Hossein Eftekhari, Iman Naseri</a>
            </div>
        </footer>

    {% block js %}
        <script>
            var headerHeight = document.getElementById('header').offsetHeight;
            var footerHeight = document.getElementById('footer').offsetHeight;
            var contentHeight = headerHeight + footerHeight;
            $('#content').css({ 'min-height': 'calc(100vh - ' + contentHeight+ 'px)' });
        </script>
    {% endblock %}
{% endblock %}

