{%  extends "base.html" %}
{% load static %}
{% load api_tags %}
{% load pwa %}
{% block title %}ریز حساب{% endblock %}
{% block css %}{% endblock %}


{% block body %}
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" onclick="window.history.back()" style="color: white;">
                <img src="{% static 'img/iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
                <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
            </a>
        </nav>
    </header>
    <div class="container-fluid" id="content">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a class="btn aqua-gradient" href="{% url "add_loan_pay" loan.loan_queue.id %}">افزودن پرداخت</a>
            </div>
            <div class="col-md-5">
                <h3 style="text-align: right; font-family: bnazanin;"> اطلاعات حساب <small style="text-align: right; font-family: bnazanin;"> شماره وام: {{loan.loan_queue.id}}</small></h3>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>توضیح</th>
                                        <th>تاریخ</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for value in nlp %}
                                    <tr>
                                        <td>{{value.description}}</td>
                                        <td>{{value.date|jdate:"%Y/%m/%d %H:%M"}}</td>
                                        <td>{{forloop.counter}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <footer class="page-footer font-small default-color pt-4" id="footer">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin; text-align: right;">توسعه دهندگان</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/Mheftekhari" style="text-align: right;">تلگرام ( محمد حسین افتخاری زاده )</a>
                            </li>
                            <li>
                                <a href="https://t.me/Iman_Naseri" style="text-align: right;">تلگرام ( ایمان ناصری )</a>
                            </li>
                            <li>
                                <a style="text-align: right;">mh.eftekhari@gmail.com</a>
                            </li>
                            <li>
                                <a style="text-align: right;">inaseri.20@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin; text-align: right;">ارتباط با ما</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/abbas2044" style="text-align: right;">تلگرام ادمین</a>
                            </li>
                            <li>
                                <a href="https://t.me/sandogh_hazrat_zainab_bot" style="text-align: right;">رباط صندوق</a>
                            </li>
                            <li>
                                <a href="{% url 'lows' %}" style="text-align: right;">قوانین صندوق</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Mohammad Hossein Eftekhari, Iman Naseri</a>
            </div>
        </footer>

{% block js %}
    <script>
        var headerHeight = document.getElementById('header').offsetHeight;
        var footerHeight = document.getElementById('footer').offsetHeight;
        var contentHeight = headerHeight + footerHeight;
        $('#content').css({ 'min-height': 'calc(100vh - ' + contentHeight+ 'px)' });
    </script>
{% endblock %}

{% endblock %}

