{%  extends "base.html" %}
{% load static %}
{% load pwa %}
{% load api_tags %}
{% block title %}وام ها{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}


{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" onclick="window.history.back()" style="color: white;">
                <img src="{% static 'img/iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
                <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
            </a>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 style="font-family: bnazanin; text-align: right;">وام ها</h3>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>وضعیت</th>
                                        <th>تعداد کل اقساط</th>
                                        <th>تعداد قسط پرداخت شده</th>
                                        <th>تعداد قسط عقب افتاده</th>
                                        <th>تاریخ تعلق گرفتن وام</th>
                                        <th>تاریخ آخرین پرداخت</th>
                                        <th>شماره وام</th>
                                    </tr>
                                </thead>
                            <tbody>
                            {% for value in qloan %}
                                <tr>
                                    <td>{% if value.status == 0 %}وام تعلق گرفته{% else %}پایان یافته{% endif %}</td>
                                    <td>{{ value.CountAllLoan}}</td>
                                    <td>{{ value.CountPayLoan}}</td>
                                    <td>{{ value.UnpaidLoan}}</td>
                                    <td>{{ value.date|jdate:"%Y/%m/%d %H:%M" }}</td>
                                    <td>{% if value.lastpeyment %}{{value.lastpeyment|jdate:"%Y/%m/%d %H:%M"}}{% else %}تا به حال پرداختی نداشته اید{% endif%}</td>
                                    <td>{{value.loan_queue.id}}#</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-2"></div>
    </div>
{% endblock %}

