{%  extends "base.html" %}
{% load static %}
{% load pwa %}
{% load api_tags %}
{% block title %}صف وام{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}


{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" onclick="window.history.back()" style="color: white;">
                <img src="{% static 'img/iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
                <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
            </a>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a class="btn aqua-gradient" href="{% url 'loan_new' %}">درخواست وام</a>
            </div>
            <div class="col-md-5">
                <h3 style="font-family: bnazanin; text-align: right;">صف درخواست وام ها</h3>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr style="width: 100%;">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>وضعیت</th>
                                        <th>تعداد کل اقساط</th>
                                        <th>تعداد قسط های پرداخت شده</th>
                                        <th>تعداد قسط عقب مانده</th>
                                        <th>زمان آخرین پرداخت</th>
                                        <th>تاریخ</th>
                                        <th>نام</th>
                                    </tr>
                                </thead>
                            <tbody>
                            {% for val in loan %}
                                <tr>
                                    <td>{% if val.status == -1 %}درحال پردازش{% elif val.status == 0 %}
                                        <a href="{% url "view_loan_pay" val.loan_queue.id %}" class="btn btn-primary btn-xs view">
                                        وام تعلق گرفته
                                        </a>
                                        {% else %}پایان یافته{% endif %}
                                    </td>
                                    <td>{{ val.CountAllLoan }}</td>
                                    <td>{{ val.CountPayLoan }}</td>
                                    <td>{{ val.UnpaidLoan }}</td>
                                    <td>{% if val.lastpeyment %}{{val.lastpeyment|jdate:"%Y/%m/%d %H:%M"}}{% else %}تا به حال پرداختی نداشته اید{% endif%}</td>
                                    <td>{{ val.date|jdate:"%Y/%m/%d %H:%M" }}</td>
                                    <td>{{ val.loan_queue.bankaccount.user.get_full_name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-2"></div>
    </div>
    <footer class="page-footer font-small default-color pt-4 fixed-bottom">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-2 mt-md-0 mt-3"></div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase" style="font-family: bnazanin;">توسعه دهندگان</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://t.me/Mheftekhari">تلگرام ( محمد حسین افتخاری زاده )</a>
                        </li>
                        <li>
                            <a href="https://t.me/Iman_Naseri">تلگرام ( ایمان ناصری )</a>
                        </li>
                        <li>
                            <a>mh.eftekhari@gmail.com</a>
                        </li>
                        <li>
                            <a>inaseri.20@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 mt-md-0 mt-3"></div>
                <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin;">ارتباط با ما</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/abbas2044">تلگرام ادمین</a>
                            </li>
                            <li>
                                <a href="https://t.me/sandogh_hazrat_zainab_bot">رباط صندوق</a>
                            </li>
                            <li>
                                <a href="{% url 'lows' %}">قوانین صندوق</a>
                            </li>
                        </ul>
                    </div>
                <div class="col-md-2 mt-md-0 mt-3"></div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> Mohammad Hossein Eftekhair, Iman Naseri</a>
        </div>
    </footer>
{% endblock %}

