{%  extends "base.html" %}
{% load static %}
{% load pwa %}
{% block title %}ورود{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}


{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#"><strong>Sandogh-e Hazrat Zeynab</strong></a>
        </nav>
    </header>

    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="inputIconEx2" class="form-control" name="username">
                        <label for="inputIconEx2">نام کاربری</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="text" id="inputIconEx2" class="form-control" name="password">
                        <label for="inputIconEx2">رمز عبور</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn aqua-gradient">ورود</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
{% endblock %}

