{%  extends "base.html" %}
{% load static %}
{% load pwa %}
{% block title %}ورود{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}


{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark default-color">
            <a class="navbar-brand" href="#"><strong>Sandogh-e Hazrat Zeynab</strong></a>
        </nav>
    </header>
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="inputIconEx2" class="form-control" name="username">
                        <label for="inputIconEx2">نام کاربری</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="text" id="inputIconEx2" class="form-control" name="password">
                        <label for="inputIconEx2">رمز عبور</label>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="margin-top: 15px;" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn aqua-gradient">ورود</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
        <div id="footerPhone">
        <footer class="page-footer font-small default-color pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin;">توسعه دهندگان</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/Mheftekhari">تلگرام ( محمد حسین افتخاری زاده )</a>
                            </li>
                            <li>
                                <a href="https://t.me/Iman_Naseri">تلگرام ( ایمان ناصری )</a>
                            </li>
                            <li>
                                <a>mh.eftekhari@gmail.com</a>
                            </li>
                            <li>
                                <a>inaseri.20@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin;">ارتباط با ما</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/abbas2044">تلگرام ادمین</a>
                            </li>
                            <li>
                                <a href="https://t.me/sandogh_hazrat_zainab_bot">رباط صندوق</a>
                            </li>
                            <li>
                                <a href="{% url 'lows' %}">قوانین صندوق</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Mohammad Hossein Eftekhair, Iman Naseri</a>
            </div>
        </footer>
    </div>
    <div id="footerCamputer">
        <footer class="page-footer font-small default-color pt-4 fixed-bottom">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin;">توسعه دهندگان</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/Mheftekhari">تلگرام ( محمد حسین افتخاری زاده )</a>
                            </li>
                            <li>
                                <a href="https://t.me/Iman_Naseri">تلگرام ( ایمان ناصری )</a>
                            </li>
                            <li>
                                <a>mh.eftekhari@gmail.com</a>
                            </li>
                            <li>
                                <a>inaseri.20@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase" style="font-family: bnazanin;">ارتباط با ما</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://t.me/abbas2044">تلگرام ادمین</a>
                            </li>
                            <li>
                                <a href="https://t.me/sandogh_hazrat_zainab_bot">رباط صندوق</a>
                            </li>
                            <li>
                                <a href="{% url 'lows' %}">قوانین صندوق</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-md-0 mt-3"></div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Mohammad Hossein Eftekhair, Iman Naseri</a>
            </div>
        </footer>
    </div>
{% endblock %}

