{% extends "tmpl1/base.html" %}
{% load static from staticfiles %}
{% block title %}تغییر گذرواژه{% endblock %}
{% block jsblock %}
<script src="{% static 'vendors/parsleyjs/dist/parsley.min.js' %}"></script>
<script src="{% static 'vendors/parsleyjs/dist/i18n/fa.js' %}"></script>
{% endblock %}
{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>تغییر گذرواژه
                            <small>username: {{ request.user.username }}</small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">خطا:</span>
                            {{ error }}
                        </div>
                        {% endif %}
                        {% if result %}
                        <div class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">خطا:</span>
                            {{ result }}
                        </div>
                        {% endif %}
                        <br>
                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">گذرواژه
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required="required" class="form-control col-md-7 col-xs-12" type="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new-pass">گذرواژه جدید <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="newpassword" name="newpassword" required="required" class="form-control col-md-7 col-xs-12" type="password" data-parsley-minlength="8" data-parsley-uppercase="1" data-parsley-lowercase="1" data-parsley-number="1" data-parsley-required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">تکرار گذرواژه جدید <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input required="required" class="form-control col-md-7 col-xs-12" type="password" data-parsley-equalto="#newpassword">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">ارسال</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}