{% extends "tmpl1/base.html" %}
{% load static from staticfiles %}
{% load api_tags %}
{% block title %}صف وام{% endblock %}
{% block jsblock %}
{% endblock %}
{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>صف درخواست وام ها</h2>
                        <ul class="nav navbar-right panel_toolbox">
	                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                            </li>
                                <li>
                                    <a href="{% url "loan_new" %}"><i class="fa fa-plus"></i></a>
                                </li>
	                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>نام</th>
                                <th>تاریخ</th>
                                <th>زمان آخرین پرداخت</th>
                                <th>تعداد قسط عقب مانده</th>
                                <th>تعداد قسط های پرداخت شده</th>
                                <th>تعداد کل اقساط</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for val in loan %}
                            <tr>
                                <td>{{ val.loan_queue.bankaccount.user.get_full_name }}</td>
                                <td>{{ val.date|jdate:"%Y/%m/%d %H:%M" }}</td>
                                <td>{% if val.lastpeyment %}{{val.lastpeyment|jdate:"%Y/%m/%d %H:%M"}}{% else %}تا به حال پرداختی نداشته اید.{% endif%}</td>
                                <td>{{ val.UnpaidLoan }}</td>
                                <td>{{ val.CountPayLoan }}</td>
                                <td>{{ val.CountAllLoan }}</td>
                                <td>{% if val.status == -1 %}درحال پردازش{% elif val.status == 0 %}
                                    <a href="{% url "view_loan_pay" val.loan_queue.id %}" class="btn btn-primary btn-xs view">
                                    وام تعلق گرفته
                                    </a>
                                    {% else %}پایان یافته{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}