{% extends "tmpl1/base.html" %}
{% load static from staticfiles %}
{% load api_tags %}
{% block title %}صف وام{% endblock %}
{% block jsblock %}
{% endblock %}
{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>صف درخواست وام ها</h2>
                        <ul class="nav navbar-right panel_toolbox">
	                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                            </li>
	                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>شماره وام</th>
                                <th>تاریخ آخرین پرداخت</th>
                                <th>تاریخ تعلق گرفتن وام</th>
                                <th>تعداد قسط عقب افتاده</th>
                                <th>تعداد قسط پرداخت شده</th>
                                <th>تعداد کل اقساط</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for value in loan %}
                            <tr>
                                <td>#</td>
                                <td>{{ value.lastpeyment|jdate:"%Y/%m/%d %H:%M" }}</td>
                                <td>{{ value.date|jdate:"%Y/%m/%d %H:%M" }}</td>
                                <td>{{ value.UnpaidLoan}}</td>
                                <td>{{ value.CountPayLoan}}</td>
                                <td>{{ value.CountAllLoan}}</td>
                                <td>{% if value.status == 0 %}وام تعلق گرفته{% else %}پایان یافته{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}